<footer class="text-center text-lg-start text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center p-4 border-bottom border-top">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset" style="text-decoration: none">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="bi bi-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="bi bi-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="bi bi-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">Chtaura</h6>
            <p>
              Lorem ipsum dolor sit
              amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Products</h6>
            <p>
              <a href="dairy" class="text-reset">Dairy</a>
            </p>
            <p>
              <a href="pastries" class="text-reset">Pastries</a>
            </p>
            <h6 class="text-uppercase fw-bold mb-4"><a href="contactus" class="text-reset">Contact Us</a></h6>
            <h6 class="text-uppercase fw-bold mb-4"><a href="careers" class="text-reset">Careers</a></h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Explore</h6>
            <p>
              <a href="aboutus#blog" class="text-reset">Blog</a>
            </p>
            <p>
              <a href="aboutus#events" class="text-reset">Events</a>
            </p>
            <p>
              <a href="aboutus#community" class="text-reset">Community</a>
            </p>
            <p>
              <a href="aboutus#our-story" class="text-reset">Our Story</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p>
              <i class="bi bi-geo-alt-fill me-3"></i>123 Adventure Way,
              Mountain Town
            </p>
            <p>
              <i class="bi bi-envelope me-3"></i>
              info@thenorthface.com
            </p>
            <p><i class="bi bi-phone me-3"></i> +1 800 123 4567</p>
            <p><i class="bi bi-telephone me-3"></i> +1 800 987 6543</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
      © 2024 Chtaura. All rights reserved.
      <a class="text-reset fw-bold" href="index">Explore More on Chtaura</a>
    </div>
    <!-- Copyright -->
  </footer>