<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="x, y, ,etc" />
    <meta name="description" content="x, y, ,etc" />
    <meta name="author" content="x, y, ,etc" />
    <title>Chtaura</title>
    <link rel="icon" href="Assets/images/Logo.png" class="icon" />
    <link rel="stylesheet" href="Assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="Assets/css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <!-- Navbar -->
    <%- include("./partials/nav.ejs") %>

    <!-- about section -->
    <section id="about" class="about pb-5" style="padding-top: 200px;">
        <div class="container">
            <div class="row">
                <h2 class="text-danger" id="our-story">Our Story</h2>
            </div>
            <div class="row">
                <p class="about-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae, doloribus
                    aspernatur vitae
                    placeat minus incidunt molestias obcaecati commodi enim iure, magnam quis, velit tempore
                    sequi ipsa!
                    Modi, adipisci inventore.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae, doloribus
                    aspernatur vitae
                    placeat minus incidunt molestias obcaecati commodi enim iure, magnam quis, velit tempore
                    sequi ipsa!
                    Modi, adipisci inventore.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae, doloribus
                    aspernatur vitae
                    placeat minus incidunt molestias obcaecati commodi enim iure, magnam quis, velit tempore
                    sequi ipsa!
                    Modi, adipisci inventore.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae, doloribus
                    aspernatur vitae
                    placeat minus incidunt molestias obcaecati commodi enim iure, magnam quis, velit tempore
                    sequi ipsa!
                    Modi, adipisci inventore.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae, doloribus
                    aspernatur vitae
                    placeat minus incidunt molestias obcaecati commodi enim iure, magnam quis, velit tempore
                    sequi ipsa!
                    Modi, adipisci inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae,
                    doloribus
                    aspernatur vitae
                    placeat minus incidunt molestias obcaecati commodi enim iure, magnam quis, velit tempore
                    sequi ipsa!
                    Modi, adipisci inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae,
                    doloribus
                    aspernatur vitae
                    placeat minus incidunt molestias obcaecati commodi enim iure, magnam quis, velit tempore
                    sequi ipsa!
                    Modi, adipisci inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae,
                    doloribus
                    aspernatur vitae
                    placeat minus incidunt molestias obcaecati commodi enim iure, magnam quis, velit tempore
                    sequi ipsa!
                    Modi, adipisci inventore.
                </p>
            </div>
        </div>
    </section>
    <section id="mision" class="content pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="content-img">
                        <img src="Assets/images/3.jpg" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12 mt-md-5">
                    <div class="content-inner">
                        <div class="content-text">
                            <h2 class="text-danger">Mision</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae, doloribus
                                aspernatur vitae
                                placeat minus incidunt molestias obcaecati commodi enim iure, magnam quis, velit tempore
                                sequi ipsa!
                                Modi, adipisci inventore.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae, doloribus
                                aspernatur vitae
                                placeat minus incidunt molestias obcaecati commodi enim iure, magnam quis, velit tempore
                                sequi ipsa!
                                Modi, adipisci inventore.
                            </p>
                            <a href="#" class="btn btn-primary"> Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="vision" class="content pb-5">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="content-img">
                        <img src="Assets/images/3.jpg" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12 mt-md-5">
                    <div class="content-inner">
                        <div class="content-text">
                            <h2 class="text-danger">Vision</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae, doloribus
                                aspernatur vitae
                                placeat minus incidunt molestias obcaecati commodi enim iure, magnam quis, velit tempore
                                sequi ipsa!
                                Modi, adipisci inventore.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae, doloribus
                                aspernatur vitae
                                placeat minus incidunt molestias obcaecati commodi enim iure, magnam quis, velit tempore
                                sequi ipsa!
                                Modi, adipisci inventore.
                            </p>
                            <a href="#" class="btn btn-primary"> Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6">
                    <h1 class="text-danger text-start" id="blog">Blog</h1>
                    <p class="text-start">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae, doloribus
                        aspernatur vitae
                        placeat minus incidunt molestias obcaecati commodi enim iure, magnam quis, velit tempore
                        sequi ipsa!
                        Modi, adipisci inventore.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae, doloribus
                        aspernatur vitae
                        placeat minus incidunt molestias obcaecati commodi enim iure, magnam quis, velit tempore
                        sequi ipsa!
                        Modi, adipisci inventore.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h1 class="text-danger text-start" id="community">Community</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae, doloribus
                        aspernatur vitae
                        placeat minus incidunt molestias obcaecati commodi enim iure, magnam quis, velit tempore
                        sequi ipsa!
                        Modi, adipisci inventore.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae, doloribus
                        aspernatur vitae
                        placeat minus incidunt molestias obcaecati commodi enim iure, magnam quis, velit tempore
                        sequi ipsa!
                        Modi, adipisci inventore.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h1 class="text-danger text-start" id="events">Events</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae, doloribus
                        aspernatur vitae
                        placeat minus incidunt molestias obcaecati commodi enim iure, magnam quis, velit tempore
                        sequi ipsa!
                        Modi, adipisci inventore.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque molestiae, doloribus
                        aspernatur vitae
                        placeat minus incidunt molestias obcaecati commodi enim iure, magnam quis, velit tempore
                        sequi ipsa!
                        Modi, adipisci inventore.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <!-- Footer -->
    <%- include("./partials/footer.ejs") %>

    <!-- Footer -->

    <script src="Assets/bootstrap/js/popper.min.js"></script>
    <script src="Assets/bootstrap/js/jquery-3.7.1.min.js"></script>
    <script src="Assets/bootstrap/js/bootstrap.js"></script>
    <script src="Assets/js/script.js"></script>
</body>

</html>