<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="x, y, ,etc" />
  <meta name="description" content="x, y, ,etc" />
  <meta name="author" content="x, y, ,etc" />
  <title>Chtaura</title>
  <link rel="icon" href="Assets/images/Logo.png" class="icon" />
  <link rel="stylesheet" href="Assets/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="Assets/css/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
  <!-- Navbar -->
  <%- include("./partials/nav.ejs") %>

  <section class="px-5 pb-5" style="padding-top: 200px;">
    <div class="container careers-form">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <img src="Assets/images/careers.png" alt="avatar" class="img-fluid">
        </div>
        <div class="col-md-6 col-sm-12 mt-5 ">
          <h3 class="text-center title" data-lan="careers">Careers</h3>
          <p class="text-center" data-lan="jointeam">Join our team.</p>
          <form>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="name" class="form-label" data-lan="namelabel">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Ahmed Mohamed" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="birthdate" class="form-label" data-lan="datelabel">Birth Date</label>
                <input type="date" class="form-control" id="birthdate">
              </div>
              <div class="col-md-6 mb-3">
                <label for="email" class="form-label" data-lan="maillabel">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="mosalah11@icloud.com">
              </div>
              <div class="col-md-6 mb-3">
                <label for="job" class="form-label" data-lan="jobtype">Job</label>
                <select class="form-control" id="job">
                  <option value="">Sales</option>
                  <option value="">Backoffice</option>
                  <option value="">Quality</option>
                </select>
              </div>
              <div class="col-md-12 mb-3">
                <label for="cv" class="form-label" data-lan="resumeatt">CV</label>
                <input type="file" class="form-control" id="cv">
              </div>
              <div class="col-md-12 mb-3">
                <label for="message" class="form-label" data-lan="proposal">Message</label>
                <textarea class="form-control" id="message"></textarea>
              </div>
              <div class="col-md-12 mb-3">
                <div class="buttons text-center">
                  <button class="btn btn-primary" data-lan="applynow">
                    Send Message
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>





    <!-- Footer -->
    <%- include("./partials/footer.ejs") %>

  <!-- Script -->
  <script src="Assets/bootstrap/js/popper.min.js"></script>
  <script src="Assets/bootstrap/js/jquery-3.7.1.min.js"></script>
  <script src="Assets/bootstrap/js/bootstrap.js"></script>
  <script src="Assets/js/script.js"></script>
</body>

</html>