<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="x, y, ,etc" />
  <meta name="description" content="x, y, ,etc" />
  <meta name="author" content="x, y, ,etc" />
  <title>Chtaura</title>
  <link rel="icon" href="Assets/images/Logo.png" class="icon" />
  <link rel="stylesheet" href="Assets/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="Assets/css/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
  <!-- Navbar -->
  <%- include("./partials/nav.ejs") %>

  <section class="text-center container py-5">
    <div class="row">
      <div class="col-md-12">
        <h3>Contact Us</h3>
        <p>Any question or remarks? Just write us a message!</p>
      </div>

      <div class="col-md-6 mt-md-3 mx-auto" style="margin-bottom: 50px">
        <div class="left-div">
          <h4 class="text-light">Contact Information</h4>
          <p class="p">Say something to start a live chat!</p>
          <div class="icons">
            <div class="icon">
              <i class="fa-solid fa-phone-volume"></i>
              <p>+217053</p>
            </div>
            <div class="icon">
              <i class="fa-solid fa-envelope"></i>
              <p>info@dkckdkflmwmkdlkmld.com</p>
            </div>
            <div class="icon">
              <i class="fa-solid fa-location-dot"></i>
              <p>
                dlcmkassamlkscmkkmlaclkm, Cairo, Cairo <br />Governorate 4716027
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-md-3 mx-auto">
        <form>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control message" placeholder="Ahmed Mohamed" name="name" id="name"
                required />
            </div>
            <div class="col-md-6 mb-3">
              <label for="phone" class="form-label">Phone Number</label>
              <input type="text" class="form-control message" placeholder="01234567891" name="phone" id="phone"
                minlength="11" required />
            </div>
            <div class="col-md-6 mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control message" name="email" id="email"
                placeholder="messi10@icloud.com" />
            </div>
            <div class="col-md-6 mb-3">
              <label for="subject" class="form-label">Subject</label>
              <input type="text" class="form-control message" name="subject" id="subject" required />
            </div>
            <div class="col-md-12 mb-3">
              <label for="message" class="form-label">Message</label>
              <textarea class="form-control" name="message" id="message" required></textarea>
            </div>
            <div class="col-md-12 mb-3">
              <div class="buttons text-center">
                <button type="submit" class="btn btn-primary">
                  Send Message
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>


  <!-- Footer -->
  <%- include("./partials/footer.ejs") %>

  <script src="Assets/bootstrap/js/popper.min.js"></script>
  <script src="Assets/bootstrap/js/jquery-3.7.1.min.js"></script>
  <script src="Assets/bootstrap/js/bootstrap.js"></script>
  <script src="Assets/js/script.js"></script>
</body>

</html>