<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="x, y, ,etc" />
  <meta name="description" content="x, y, ,etc" />
  <meta name="author" content="x, y, ,etc" />
  <title>Chtaura</title>
  <link rel="icon" href="Assets/images/Logo.png" class="icon" />
  <link rel="stylesheet" href="Assets/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="Assets/css/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
  <!-- Navbar -->
  <%- include("./partials/nav.ejs") %>
  


  <!-- Carousel -->
  <div class="container-fluid carouselmob mobcontainer">
    <div id="carouselCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div id="carouselAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
          <div class="carousel-item carouselmob active">
            <img src="Assets/images/Carousel/1.jpg" class="d-block w-100 carouselmob" alt="..." />
            <div class="carousel-caption">
              <h5>Dairy</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
              <p>
                <a href="dairy" class="btn btn-primary mt3">Shop Dairy</a>
              </p>
            </div>
          </div>
          <div class="carousel-item carouselmob">
            <img src="Assets/images/Carousel/2.jpg" class="d-block w-100 carouselmob" alt="..." />
            <div class="carousel-caption">
              <h5>Pastries</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
              <p>
                <a href="dairy" class="btn btn-primary mt3">Shop Pastries</a>
              </p>
            </div>
          </div>
          <div class="carousel-item carouselmob">
            <img src="Assets/images/Carousel/3.jpg" class="d-block w-100 carouselmob" alt="..." />
            <div class="carousel-caption">
              <h5>Lorem ipsum dolor</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
              <p>
                <a href="#" class="btn btn-primary mt3">Shop Now</a>
              </p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Offers Section -->
  <section class="pt-5 pb-5" id="offerssection">
    <div class="container">
      <h2 class="row justify-content-center fw-bold">Offers</h2>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
          <a href="product">
            <img src="Assets/images/Pastries/Lebanese Kibbeh.jpg" alt="" class="product-image" />
          </a>
          <h2 class="product-title">Lebanese <br> Kibbeeh</h2>
          <span class="price">250 LE</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
          <a href="product">
            <img src="Assets/images/Pastries/Lebanese Nakanek.jpg" alt="" class="product-image" />
          </a>
          <h2 class="product-title">Lebanese <br> Nakanek</h2>
          <span class="price">250 LE</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
          <a href="product">
            <img src="Assets/images/Pastries/Oriental Sojok.jpg" alt="" class="product-image" /></a>
          <h2 class="product-title">Oriental <br> Sojok</h2>
          <span class="price">250 LE</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
          <a href="product">
            <img src="Assets/images/Pastries/Rice Mombar.jpg" alt="" class="product-image" /></a>
          <h2 class="product-title">Rice <br> Mombar</h2>
          <span class="price">250 LE</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
          <a href="product">
            <img src="Assets/images/Pastries/Lebanese Kibbeh.jpg" alt="" class="product-image" />
          </a>
          <h2 class="product-title">Lebanese <br> Kibbeeh</h2>
          <span class="price">250 LE</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
          <a href="product">
            <img src="Assets/images/Pastries/Lebanese Nakanek.jpg" alt="" class="product-image" />
          </a>
          <h2 class="product-title">Lebanese <br> Nakanek</h2>
          <span class="price">250 LE</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
          <a href="product">
            <img src="Assets/images/Pastries/Oriental Sojok.jpg" alt="" class="product-image" /></a>
          <h2 class="product-title">Oriental <br> Sojok</h2>
          <span class="price">250 LE</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
          <a href="product">
            <img src="Assets/images/Pastries/Rice Mombar.jpg" alt="" class="product-image" /></a>
          <h2 class="product-title">Rice <br> Mombar</h2>
          <span class="price">250 LE</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
      </div>

    </div>
  </section>

  <!-- <section id="mainphoto" class="pb-5">
    <div class="container-fluid">
      <div class="row">
        <div class="content-img d-flex flex-column justify-content-center align-items-center" style="height: 100%">
          <img src="Assets/images/3.jpg" alt="" class="img-fluid">
          <h1 class="mainheader row justify-content-center">Chtaura</h1>
        </div>
        
      </div>
    </div>
  </section>
  <br> -->
<!-- 
  <div class="container-fluid">
    <div class="photo-container container-fluid d-flex flex-column justify-content-center align-items-center">
      <img src="Assets/images/3.jpg" alt="Main Photo" class="mainphoto img-fluid">
        <div>
          <h1 class="mainheader row justify-content-center">Chtaura</h1>
          <br>
          <h2 class="explorebtn row justify-content-center" id="explorebtn">Explore</h2>
        </div>
    </div>
  </div> -->

  <div class="container-fluid">
    <img src="Assets/images/3.jpg" alt="Main Photo" class="img-fluid">
  </div>


  <!-- Best Selling Section -->
  <section class="pt-5 pb-5" id="bestsellingsection">
    <div class="container">
      <h2 class="row justify-content-center fw-bold">Best Selling</h2>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
          <a href="product">
            <img src="Assets/images/Pastries/Lebanese Kibbeh.jpg" alt="" class="product-image" />
          </a>
          <h2 class="product-title">Lebanese <br> Kibbeeh</h2>
          <span class="price">250 LE</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
          <a href="product">
            <img src="Assets/images/Pastries/Lebanese Nakanek.jpg" alt="" class="product-image" />
          </a>
          <h2 class="product-title">Lebanese <br> Nakanek</h2>
          <span class="price">250 LE</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
          <a href="product">
            <img src="Assets/images/Pastries/Oriental Sojok.jpg" alt="" class="product-image" /></a>
          <h2 class="product-title">Oriental <br> Sojok</h2>
          <span class="price">250 LE</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
          <a href="product">
            <img src="Assets/images/Pastries/Rice Mombar.jpg" alt="" class="product-image" /></a>
          <h2 class="product-title">Rice <br> Mombar</h2>
          <span class="price">250 LE</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
          <a href="product">
            <img src="Assets/images/Pastries/Lebanese Kibbeh.jpg" alt="" class="product-image" />
          </a>
          <h2 class="product-title">Lebanese <br> Kibbeeh</h2>
          <span class="price">250 LE</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
          <a href="product">
            <img src="Assets/images/Pastries/Lebanese Nakanek.jpg" alt="" class="product-image" />
          </a>
          <h2 class="product-title">Lebanese <br> Nakanek</h2>
          <span class="price">250 LE</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
          <a href="product">
            <img src="Assets/images/Pastries/Oriental Sojok.jpg" alt="" class="product-image" /></a>
          <h2 class="product-title">Oriental <br> Sojok</h2>
          <span class="price">250 LE</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
          <a href="product">
            <img src="Assets/images/Pastries/Rice Mombar.jpg" alt="" class="product-image" /></a>
          <h2 class="product-title">Rice <br> Mombar</h2>
          <span class="price">250 LE</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
      </div>

    </div>
  </section>

  <section id="event" class="event pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-12">
          <div class="content-img">
            <img src="Assets/images/3.jpg" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12 mt-md-5">
          <div class="content-inner">
            <div class="content-text">
              <h2 class="text-danger">Our Comming Event</h2>
              <p>
                Food Festival at New Cairo
              </p>
              <div class="launch-time">
                <div>
                  <p id="days">00</p>
                  <span>Days</span>
                </div>
                <div>
                  <p id="hours">00</p>
                  <span>Hours</span>
                </div>
                <div>
                  <p id="minutes">00</p>
                  <span>Minutes</span>
                </div>
                <div>
                  <p id="seconds">00</p>
                  <span>Seconds</span>
                </div>
              </div>
              <br>
              <a href="#" class="btn btn-primary"> Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Footer -->
  <%- include("./partials/footer.ejs") %>

  <script src="Assets/bootstrap/js/popper.min.js"></script>
  <script src="Assets/bootstrap/js/jquery-3.7.1.min.js"></script>
  <script src="Assets/bootstrap/js/bootstrap.js"></script>
  <script src="Assets/js/script.js"></script>
</body>

</html>