<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="x, y, ,etc" />
  <meta name="description" content="x, y, ,etc" />
  <meta name="author" content="x, y, ,etc" />
  <title>Chtaura</title>
  <link rel="icon" href="Assets/images/Logo.png" class="icon" />
  <link rel="stylesheet" href="Assets/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="Assets/css/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
  <!-- Navbar -->
  <%- include("./partials/nav.ejs") %>
  <!-- end of header -->

  <!-- Main -->
  <section class="px-5 pb-5" style="padding-top: 150px;">
    <div class="container d-flex justify-content-center">
      <div class="wrapper">

        <div class="form-box login">
          <h2>Login</h2>
          <form action="#">
            <div class="input-box">
              <span class="icon"><i class="bi bi-phone-fill"></i></span>
              <input type="text" required>
              <label>Phone</label>
            </div>
            <div class="input-box">
              <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
              <input type="password" required>
              <label>Password</label>
            </div>
            <div class="remember-forgot">
              <label><input type="checkbox">Remember me</label>
              <a href="#">Forgot Password?</a>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="login-register">
              <p>Don't have an account? <a href="#" class="register-link">Register</a></p>
            </div>
          </form>
        </div>

        <div class="form-box register">
          <h2>Registration</h2>
          <form action="#">
            <div class="input-box">
              <span class="icon"><ion-icon name="person"></ion-icon></span>
              <input type="text" required>
              <label>First Name</label>
            </div>
            <div class="input-box">
              <span class="icon"><ion-icon name="person"></ion-icon></span>
              <input type="text" required>
              <label>Last Name</label>
            </div>
            <div class="input-box">
              <span class="icon"><i class="bi bi-phone-fill"></i></span>
              <input type="text" required>
              <label>Phone</label>
            </div>
            <div class="input-box">
              <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
              <input type="password" required>
              <label>Password</label>
            </div>
            <div class="input-box">
              <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
              <input type="password" required>
              <label>Retype Password</label>
            </div>
            <div class="input-box">
              <span class="icon"><ion-icon name="mail"></ion-icon></span>
              <input type="email">
              <label>Email(Optional)</label>
            </div>
            <div class="remember-forgot">
              <label><input type="checkbox" required>I agree to the terms & conditions</label>
            </div>
            <button type="submit" class="btn">Register</button>
            <div class="login-register">
              <p>Already have an account? <a href="#" class="login-link">Login</a></p>
            </div>
          </form>
        </div>

      </div>
    </div>
  </section>


  <!-- Footer -->
  <%- include("./partials/footer.ejs") %>

  <!-- JavaScript -->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="Assets/bootstrap/js/popper.min.js"></script>
  <script src="Assets/bootstrap/js/jquery-3.7.1.min.js"></script>
  <script src="Assets/bootstrap/js/bootstrap.js"></script>
  <script src="assets/js/script.js"></script>
</body>