<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="x, y, ,etc" />
    <meta name="description" content="x, y, ,etc" />
    <meta name="author" content="x, y, ,etc" />
    <title>Chtaura</title>
    <link rel="icon" href="Assets/images/Logo.png" class="icon" />
    <link rel="stylesheet" href="Assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="Assets/css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <style></style>
</head>

<body>
    <!-- Navbar -->
    <%- include("./partials/nav.ejs") %>

<!-- My Cart Body -->
<section class="container" style="padding-top: 150px;">
    <div class="table-responsive">
        <table class="table mycart" id="cartTable">
            <thead>
                <tr>
                    <th class="col-md-3 text-light bg-primary fs-4 align-middle">Image</th>
                    <th class="col-md-3 text-light bg-primary fs-4 align-middle">Name</th>
                    <th class="col-md-3 text-light bg-primary fs-4 align-middle">Quantity</th>
                    <th class="col-md-2 text-light bg-primary fs-4 align-middle">Price</th>
                    <th class="col-md-1 text-light bg-primary fs-4 align-middle">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-3"><img src="Assets/images/Pastries/Lebanese Kibbeh.jpg" alt="Poduct Image" class="cart-img img-fluid"></td>
                    <td class="col-md-3 fs-5 align-middle">Lebanese Kibbeh</td>
                    <td class="col-md-3 align-middle"><input type="number" value="1" class="cart-quantity"></td>
                    <td class="col-md-2 align-middle">150 LE</td>
                    <td class="col-md-1 align-middle"><i class="bx bxs-trash cart-remove" onclick="removeMyCartItem(this)"></i></td>
                </tr>
                <tr>
                    <td class="col-md-3"><img src="Assets/images/Pastries/Lebanese Kibbeh.jpg" alt="Product Image" class="cart-img img-fluid"></td>
                    <td class="col-md-3 align-middle">Lebanese Kibbeh</td>
                    <td class="col-md-3 align-middle"><input type="number" value="1" class="cart-quantity"></td>
                    <td class="col-md-2 align-middle">100 LE</td>
                    <td class="col-md-1 align-middle"><i class="bx bxs-trash cart-remove" onclick="removeMyCartItem(this)"></i></td>
                </tr>
                <tr>
                    <td class="col-md-3"><img src="Assets/images/Pastries/Lebanese Kibbeh.jpg" alt="Product Image" class="cart-img img-fluid"></td>
                    <td class="col-md-3 align-middle">Lebanese Kibbeh</td>
                    <td class="col-md-3 align-middle"><input type="number" value="1" class="cart-quantity"></td>
                    <td class="col-md-2 align-middle">100 LE</td>
                    <td class="col-md-1 align-middle"><i class="bx bxs-trash cart-remove" onclick="removeMyCartItem(this)"></i></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-end fs-4 align-middle"><strong>Total:</strong></td>
                    <td class="align-middle"><strong><span class="fs-4">250 LE</span></strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
    
    <!-- Continue to Checkout Button -->
    <div class="text-end my-3">
        <a href="checkout"> <button class="btn btn-primary fs-4"> Continue to Checkout</button></a>
    </div>

</section>






    <!-- Footer -->
    <%- include("./partials/footer.ejs") %>

    <script src="Assets/bootstrap/js/popper.min.js"></script>
    <script src="Assets/bootstrap/js/jquery-3.7.1.min.js"></script>
    <script src="Assets/bootstrap/js/bootstrap.js"></script>
    <script src="Assets/js/script.js"></script>
</body>

</html>