<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="x, y, ,etc" />
  <meta name="description" content="x, y, ,etc" />
  <meta name="author" content="x, y, ,etc" />
  <title>Chtaura</title>
  <link rel="icon" href="Assets/images/Logo.png" class="icon" />
  <link rel="stylesheet" href="Assets/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="Assets/css/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
  <!-- Navbar -->
  <%- include("./partials/nav.ejs") %>

  <!-- main section -->
  <!-- <section class="menmain container-fluid">
    <div class="container shopnow d-flex align-items-center justify-content-center">
      <div class="row">
        <div class="col-md-12 d-flex align-items-center justify-content-center flex-column">
          <h1>Shop Women</h1>
          <button type="button" class="btn btn-primary">Shop now</button>
        </div>
      </div>
    </div>
  </section> -->


  <!-- Pastries Products -->
  <section class="pastriesProducts pt-5" id="pastries">
    <h2 class="headings pt-5 mt-5">Pastries</h2>
    <div class="container-fluid">
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample">
        <i class="bi bi-funnel-fill">Filter</i>
      </button>

      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Categories</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div class="card bg-light">
            <div class="card-body">
              <ul class="filter-list">
                <li class="filter-item">
                  <label>
                    <input type="checkbox" class="form-check-input">
                    Category 1
                  </label>
                </li>
                <li class="filter-item">
                  <label>
                    <input type="checkbox" class="form-check-input">
                    Category 2
                  </label>
                </li>
                <li class="filter-item">
                  <label>
                    <input type="checkbox" class="form-check-input">
                    Category 3
                  </label>
                </li>
                <li class="filter-item">
                  <label>
                    <input type="checkbox" class="form-check-input">
                    Category 3
                  </label>
                </li>
                <li class="filter-item">
                  <label>
                    <input type="checkbox" class="form-check-input">
                    Category 3
                  </label>
                </li>
                <li class="filter-item">
                  <label>
                    <input type="checkbox" class="form-check-input">
                    Category 3
                  </label>
                </li>
                <!-- Add more categories as needed -->
              </ul>
            </div>
          </div>
          <br>
          <div class="row justify-content-between container">
            <div class="col-5">
              <button type="button" class="btn btn-primary">Aplly Filter</button>
            </div>
            <div class="col-5">
              <button type="button" class="btn btn-dark">Remove Filter</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center container-fluid">
      <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
        <a href="product">
          <img src="Assets/images/Pastries/Lebanese Nakanek.jpg" alt="" class="product-image" />
        </a>
        <h2 class="product-title mb-2">Lebanese Nakanek</h2>
        <span class="price fs-3 color-">250 LE</span>
        <i class="bx bx-shopping-bag add-cart fs-3"></i>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
        <a href="product">
          <img src="Assets/images/Pastries/Lebanese Nakanek.jpg" alt="" class="product-image" />
        </a>
        <h2 class="product-title mb-2">Lebanese Nakanek</h2>
        <span class="price fs-3">250 LE</span>
        <i class="bx bx-shopping-bag add-cart fs-3"></i>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
        <a href="product">
          <img src="Assets/images/Pastries/Lebanese Nakanek.jpg" alt="" class="product-image" />
        </a>
        <h2 class="product-title mb-2">Lebanese Nakanek</h2>
        <span class="price fs-3">250 LE</span>
        <i class="bx bx-shopping-bag add-cart fs-3"></i>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
        <a href="product">
          <img src="Assets/images/Pastries/Lebanese Nakanek.jpg" alt="" class="product-image" />
        </a>
        <h2 class="product-title mb-2">Lebanese Nakanek</h2>
        <span class="price fs-3">250 LE</span>
        <i class="bx bx-shopping-bag add-cart fs-3"></i>
      </div>
    </div>
    <br>

    <div class="row justify-content-center container-fluid">
      <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
        <a href="product">
          <img src="Assets/images/Pastries/Lebanese Nakanek.jpg" alt="" class="product-image" />
        </a>
        <h2 class="product-title mb-2">Lebanese Nakanek</h2>
        <span class="price fs-3">250 LE</span>
        <i class="bx bx-shopping-bag add-cart fs-3"></i>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
        <a href="product">
          <img src="Assets/images/Pastries/Lebanese Nakanek.jpg" alt="" class="product-image" />
        </a>
        <h2 class="product-title mb-2">Lebanese Nakanek</h2>
        <span class="price fs-3">250 LE</span>
        <i class="bx bx-shopping-bag add-cart fs-3"></i>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
        <a href="product">
          <img src="Assets/images/Pastries/Lebanese Nakanek.jpg" alt="" class="product-image" />
        </a>
        <h2 class="product-title mb-2">Lebanese Nakanek</h2>
        <span class="price fs-3">250 LE</span>
        <i class="bx bx-shopping-bag add-cart fs-3"></i>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
        <a href="product">
          <img src="Assets/images/Pastries/Lebanese Nakanek.jpg" alt="" class="product-image" />
        </a>
        <h2 class="product-title mb-2">Lebanese Nakanek</h2>
        <span class="price fs-3">250 LE</span>
        <i class="bx bx-shopping-bag add-cart fs-3"></i>
      </div>
    </div>
    <br>

    <div class="row justify-content-center container-fluid">
      <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
        <a href="product">
          <img src="Assets/images/Pastries/Lebanese Nakanek.jpg" alt="" class="product-image" />
        </a>
        <h2 class="product-title mb-2">Lebanese Nakanek</h2>
        <span class="price fs-3">250 LE</span>
        <i class="bx bx-shopping-bag add-cart fs-3"></i>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
        <a href="product">
          <img src="Assets/images/Pastries/Lebanese Nakanek.jpg" alt="" class="product-image" />
        </a>
        <h2 class="product-title mb-2">Lebanese Nakanek</h2>
        <span class="price fs-3">250 LE</span>
        <i class="bx bx-shopping-bag add-cart fs-3"></i>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
        <a href="product">
          <img src="Assets/images/Pastries/Lebanese Nakanek.jpg" alt="" class="product-image" />
        </a>
        <h2 class="product-title mb-2">Lebanese Nakanek</h2>
        <span class="price fs-3">250 LE</span>
        <i class="bx bx-shopping-bag add-cart fs-3"></i>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-6 productbox p-0">
        <a href="product">
          <img src="Assets/images/Pastries/Lebanese Nakanek.jpg" alt="" class="product-image" />
        </a>
        <h2 class="product-title mb-2">Lebanese Nakanek</h2>
        <span class="price fs-3">250 LE</span>
        <i class="bx bx-shopping-bag add-cart fs-3"></i>
      </div>
    </div>
    <br>
  </section>


  <!-- Footer -->
  <%- include("./partials/footer.ejs") %>

  <script src="Assets/bootstrap/js/popper.min.js"></script>
  <script src="Assets/bootstrap/js/jquery-3.7.1.min.js"></script>
  <script src="Assets/bootstrap/js/bootstrap.js"></script>
  <script src="Assets/js/script.js"></script>
</body>

</html>