<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="x, y, ,etc" />
  <meta name="description" content="x, y, ,etc" />
  <meta name="author" content="x, y, ,etc" />
  <title>Chtaura</title>
  <link rel="icon" href="Assets/images/Logo.png" class="icon" />
  <link rel="stylesheet" href="Assets/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="Assets/css/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
  <!-- Navbar -->
  <%- include("./partials/nav.ejs") %>

  <section style="padding-top: 200px">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <img src="Assets/images/Pastries/Lebanese Kibbeh.jpg" alt="" class="product-image" />
          <br>
          <div class="row">
            <img class="thumbnail col-6" src="Assets/images/Pastries/Lebanese Kibbeh.jpg" alt="Thumbnail 1"
              onclick="changeImage('image1.jpg')">
            <img class="thumbnail col-6" src="Assets/images/Pastries/Lebanese Kibbeh.jpg" alt="Thumbnail 1"
              onclick="changeImage('image1.jpg')">
          </div>
        </div>
        <div class="col-lg-8">
          <h2 class="product-title text-danger">Lebanese Kibbeh</h2>
          <h3 class="text-primary">Description</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
            nesciunt, consequuntur voluptatibus expedita iste deleniti
            exercitationem quae laborum soluta nemo, ex praesentium porro aut
            delectus quisquam. Optio quidem repellat ipsam?
          </p>
          <h3 class="text-primary">Preparation method</h3>
          <ol>
            <li>
              The temperature of the oil is raised to 180°C before applying
              the product.
            </li>
            <li>Fry in oil at 180°C for 3-5 minutes.</li>
            <li>Fry directly without defrosting.</li>
          </ol>
          <h3>Price <span class="price text-danger"><s class="text-secondary">430</s> 330 LE</span></h3>
          <button class="btn btn-warning btn-lg" >Add to Cart</button>
          <a href="checkout"><button class="btn btn-primary btn-lg">Buy Now</button></a>

        </div>
      </div>
    </div>
  </section>

  <!-- Similar Products -->

  <section class="pt-5 pb-5">
    <div class="container">
      <h2 class="row justify-content-center fw-bold">Similar Products</h2>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 productbox p-0">
          <a href="product">
            <img src="Assets/images/Pastries/Lebanese Kibbeh.jpg" alt="" class="product-image" />
          </a>
          <h2 class="product-title">Lebanese <br> Kibbeeh</h2>
          <span class="price">250 LE</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 productbox p-0">
          <a href="product">
            <img src="Assets/images/Pastries/Lebanese Nakanek.jpg" alt="" class="product-image" />
          </a>
          <h2 class="product-title">Lebanese <br> Nakanek</h2>
          <span class="price">250 LE</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 productbox p-0">
          <a href="product">
            <img src="Assets/images/Pastries/Oriental Sojok.jpg" alt="" class="product-image" /></a>
          <h2 class="product-title">Oriental <br> Sojok</h2>
          <span class="price">250 LE</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 productbox p-0">
          <a href="product">
            <img src="Assets/images/Pastries/Rice Mombar.jpg" alt="" class="product-image" /></a>
          <h2 class="product-title">Rice <br> Mombar</h2>
          <span class="price">250 LE</span>
          <i class="bx bx-shopping-bag add-cart"></i>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <%- include("./partials/footer.ejs") %>

  <script src="Assets/bootstrap/js/popper.min.js"></script>
  <script src="Assets/bootstrap/js/jquery-3.7.1.min.js"></script>
  <script src="Assets/bootstrap/js/bootstrap.js"></script>
  <script src="Assets/js/script.js"></script>
</body>

</html>